
<div class="container">
  <div class="form-row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= simple_form_for(@slot, local: true) do |f| %>
        <%= f.hidden_field :user_id, value: @user.id if @user.id.present? %>
        <%= render 'shared/snippets/form_errors', f: f %>
        <div class="card">
          <div class="card-body">
            <div class="error list-group disabled align-center text-danger mb-0 px-1"></div>
            <div class="form-group">
              <%= f.label :title, class: "control-label" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :start_at, class: "control-label" %>
              <%= f.datetime_select :start_at, start_year: Date.today.year,month: Date.today.month, class: "form-control", as: :string %>
            </div>
            <div class="form-group">
              <%= f.label :end_at, class: "control-label" %>
              <%= f.datetime_select :end_at , start_year: Date.today.year, month: Date.today.month, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :Status, class: "control-label" %>
              <%= f.select :status, Slot.statuses.except('Pre Booked Slot', 'Bid Approval Pending','Cancelled', 'Over').keys, {}, class: 'form-control' %>
            </div>
          </div>
          <div class="card-footer">
            <div class="form-group text-center">
              <%= f.submit class: "btn btn-primary btn-block mb-2" %>
            </div>
            <div class="form-group text-center">
              <%= link_to 'Back', slots_path, class: 'btn btn-primary btn-block mb-2' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--<script>-->
<!--    $(document).on('turbolinks:load', function() {-->
<!--        $('#slot_start_at').daterangepicker({-->
<!--            timePicker: true,-->
<!--            locale: {-->
<!--                format: 'MM/DD/YYYY h:mm A'-->
<!--            },-->
<!--            singleDatePicker: true,-->
<!--            showDropdowns: true,-->
<!--            drops: "down",-->
<!--            minDate: '01/01/2012',-->
<!--            maxDate: '12/31/2017'-->
<!--        });-->
<!--    });-->
<!--</script>-->