<div class="container">
  <div class="row">
    <%= render 'shared/snippets/side_menu' %>
    <div id="main-content" class="col-sm-10">
      <% @slots.each do |slot| %>
        <div class="col-sm-3 single-post-card" id=<%= slot_path(slot.id) %>>
          <div class="card">
            <div class="card-block">
              <h4 class="post-text">
                <%= truncate(slot.title, :length => 60) %>
              </h4>
              <div class="post-content">
                <div class="posted-by">User <%= slot.user.name %></div>
                <h4>Slot Id: <%= slot.id %></h4>
                <strong>Status:- </strong><span><em><%= slot.status %></em></span><br>
                <strong>Amount:- </strong><span><em><%= slot.total_amount %></em></span><br>
                <% if slot.bids.present? && slot.bid_amount.present? %>
                  <strong>Bid Amt:- </strong><span><em><%= slot.bid_amount %></em></span><br>
                <% end %>
                <strong>start at:</strong><span><em><%= format_date_time_meridiem(slot.start_at) %></em></span><br>
                <strong>End at:</strong><span><em><%= format_date_time_meridiem(slot.end_at) %></em></span><br>
                <%= render 'shared/snippets/card_link_button', slot:slot%>
              </div>
            </div>
          </div><!-- card -->
        </div><!-- col-sm-3 -->
      <% end %>
    </div><!-- main_content -->

  </div><!-- row -->
</div><!-- container -->


<!--<td><%#= link_to 'Edit', edit_slot_path(slot) %></td>-->
<!--<td><%#= link_to 'Destroy', slot, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
