<div class="container">
  <div class="row">
    <div id="side-menu" class="col-sm-2">
      <ul id="links-list">
        <li id="hobby">
          <%= link_to occupied_slots_path do %>
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Booked Slot
          <% end %>
        </li>

        <li id="study">
          <%= link_to free_slots_path do %>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Free Slot
          <% end %>
        </li>

        <li id="team">
          <%= link_to booked_slots_path do %>
            <i class="fa fa-users" aria-hidden="true"></i> Pre Book Slot
          <% end %>
        </li>
      </ul>
    </div><!-- side-menu -->
    <h3 class="page-name">Occupied Slot</h3>
    <div id="main-content" class="col-sm-10">
      <% @free_slot.each do |slot| %>
        <div class="col-sm-3 single-post-card" id=<%= slot_path(slot.id) %>>
          <div class="card">
            <div class="card-block">
              <h4 class="post-text">
                <%= truncate(slot.title, :length => 60) %>
              </h4>
              <div class="post-content">
                <div class="posted-by">Posted by <%= slot.user.name %></div>
                <h3><%= slot.title %></h3>
                <strong>Status:- </strong><span><em><%= slot.status %></em></span>
                <p>start at:<%= format_date_with_time(slot.start_at) %></p>
                <p>end at:<%= format_date_with_time(slot.end_at) %></p>
                <div class="text-center" style="margin-top: 15px;">
                  <% if current_user.role == "Organisation" && slot.status == "Pre Booked Slot" %>
                    <%= link_to "Bid Slot", slot_path(slot.id), class: 'btn btn-primary' %>
                  <% elsif (current_user.role == "Organisation" || current_user.role == "Space Agent") && slot.status == "Free Slot" %>
                    <%= link_to "Book Slot", slot_path(slot.id), class: 'btn btn-primary' %>
                  <% else %>

                  <% end %>
                </div>
              </div>
            </div>
          </div><!-- card -->
        </div><!-- col-sm-3 -->
      <% end %>
    </div>
  </div>
</div>