<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slot.title %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @slot.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @slot.end_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @slot.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @slot.user %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
