<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" style="margin-top: 10rem;">
      <%= simple_form_for(@bid, local: true) do |f| %>
        <div class="card">
          <div class="card-body">
            <%= f.hidden_field :user_id, value: current_user.id if current_user.present? %>
            <%= f.hidden_field :slot_id %>
            <%= f.hidden_field :bid_by, value: current_user.id if current_user.present? %>
            <%= render 'shared/snippets/form_errors', f: f %>
            <div class="form-row">
              <div class="col-sm-6">
                <strong>Slot Id:</strong>
                <p><%= @bid.slot.id %></p>
              </div>
              <div class="col-sm-6">
                <strong>Slot Pre Booked By:</strong>
                <p><b><%= @bid.slot.user.name %></b></p>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6">
                <strong>Slot Start Time:</strong>
                <p><%= format_date_time_meridiem(@bid.slot.start_at) %></p>
              </div>
              <div class="col-sm-6">
                <strong>Slot End Time:</strong>
                <p><%= format_date_time_meridiem(@bid.slot.end_at) %></p>
              </div>
            </div>
          </br>
            <div class="form-row">
              <div class="col-sm-6">
                <strong>Created At:</strong>
                <p><%= @bid.slot.created_at.to_date.to_s %></p>
              </div>
              <div class="col-sm-6">
                <strong>Slot Amount:</strong>
                <p><b><%= @bid.slot.total_amount %></b></p>
              </div>
            </div>
            <div class="form-group">
              <%= f.label 'Bid Amount', class: "control-label", placeholder: 'This amt will be added with Slot Amt' %>
              <%= f.text_field :amount, required: true, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.select :status, Bid.statuses.except('Approved', 'Rejected').keys, {}, class: 'form-control' %>
            </div>
            <%= f.submit class: "btn btn-primary btn-block mb-2" %>
      <% end %>
      </div>
      </div>
    </div>
  </div>
</div>




